@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4" style="background-color:lightpink;">Welcome  To Onom's Candy Store !</h1>
        <p> <a href="https://docs.microsoft.com/aspnet/core"></a>.</p>
    </div>

<section class="text-center alert-primary">
    <h2 class="display-2">Home Made Candies!</h2>
</section>
<section  class="container-fluid text-center">
    <span style="padding:10px;border:dashed 2px;"><a class="btn btn-light" asp-area="" asp-page="/myCandy2/Index">Candies</a></span>
    <span style="padding:10px;border:double 2px;"><a class="btn btn-light" asp-area="" asp-page="/myManu2/Index">Manufacturers</a></span>
    <span style="padding:10px;border:dotted 2px;"><a class="btn btn-light" asp-area="" asp-page="/myStore2/Index">Stores</a></spanstyle="padding:10px;border:dashed>
</section>
<section>
    <img style="height:50rem; width:100%;" src="https://media3.picsearch.com/is?sMMLkAJM8fR8JefgQpd6wAyz03V4cOp0ckqNEKfcwck&height=220" alt="Alternate Text" />
</section>


