@page
@model Candy_Store_App2.Pages.myStore2.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Store</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Store.StoreId" />
            <div class="form-group">
                <label asp-for="Store.StoreName" class="control-label"></label>
                <input asp-for="Store.StoreName" class="form-control" />
                <span asp-validation-for="Store.StoreName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Store.City" class="control-label"></label>
                <input asp-for="Store.City" class="form-control" />
                <span asp-validation-for="Store.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Store.State" class="control-label"></label>
                <input asp-for="Store.State" class="form-control" />
                <span asp-validation-for="Store.State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Store.Zipcode" class="control-label"></label>
                <input asp-for="Store.Zipcode" class="form-control" />
                <span asp-validation-for="Store.Zipcode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
