@page
@model Candy_Store_App2.Pages.myCandy2.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Candy</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Candy.CandyId" />
            <div class="form-group">
                <label asp-for="Candy.CandyName" class="control-label"></label>
                <input asp-for="Candy.CandyName" class="form-control" />
                <span asp-validation-for="Candy.CandyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Candy.CandyType" class="control-label"></label>
                <input asp-for="Candy.CandyType" class="form-control" />
                <span asp-validation-for="Candy.CandyType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Candy.MID" class="control-label"></label>
                <select asp-for="Candy.MID" class="form-control" asp-items="ViewBag.MID"></select>
                <span asp-validation-for="Candy.MID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Candy.StoreId" class="control-label"></label>
                <select asp-for="Candy.StoreId" class="form-control" asp-items="ViewBag.StoreId"></select>
                <span asp-validation-for="Candy.StoreId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
